body{
    background-color: beige;
}
.top{
    display: flex;
    justify-content: center;
}
.top:hover{
    cursor:pointer;
}

.menu{
    display: flex;
    width : 300px;
    background-color: black;
    color:white;
    margin: 10px auto 20px auto;
    justify-content: space-around;
    
}

.cardCloumn {
    display: grid;
    width: 1200px;
    margin: auto;
}

.cardRow2 {
    width:100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px 20px;
    align-items: start;
}
.ListBg {
    position: relative;
    width:300px;
    margin-bottom: 32px;
    border-radius: 5px;
}
.classImg{
    width:300px;
} 
.title, .desc, .author {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: rgb(26, 26, 26);
    height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin: 4px 0px 6px;
}
.etc{
    font-size: 12px;
    font-weight: normal;
    color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between
}
.sub_wrap{
    width: 500px;
    margin: auto;
    text-align: center;
}
.sb_title{
    display: flex;
    width:100%;
    height: 50px;
    margin-bottom: 10px;
}
.sb_desc{
    display: flex;
    width:100%;
    height: 400px;
}
.flex{
    width: 100%;
    display: flex;
    justify-content:space-between
}
.sb_author{
    width: 40%;
}
.sb_password{
    width: 40%;
}

.menu_d{
    width: 150px;
    margin: auto;
    text-align: center;
}

.cardCloumn_d {
    display: grid;
    width: 500px;
    margin: auto;
}

.cardRow2_d {
    width:100%;
    align-items: start;
}
.ListBg_d {
    position: relative;
    margin-bottom: 32px;
    border-radius: 5px;
}
.classImg_d{
    width:500px;
}
.imgHidden-box{
    cursor: pointer;
}
.ListFlex_d .title_d .desc_d {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: rgb(26, 26, 26);
    height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin: 4px 0px 6px;
}
.etc_d{
    font-size: 12px;
    font-weight: normal;
    color: rgb(26, 26, 26);
}

.hidden{
    display: none;
}
.hiddenComment{
    display: none;
}

/* .modalWrap{
    background-color: white;
    width: 600px;
    height: 300px;
    text-align: center;
    vertical-align: middle;
} */

.del-background, .del-background2{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
.del-wrap, .del-wrap2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100vh;
    z-index: 10;
}
.del-content, .del-content2{
  padding: 30px 40px;
  background-color: #fff;
}
.del-submit-btn,
.del-close-btn,
.del-submit-btn2,
.del-close-btn2 {
  width: 47.5%;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border: 0;
  border-radius: 3px;
  background-color: #000;
}
.option{
    display: flex;
    justify-content:space-between;
}
.commentForm{
    display: flex;
    width: 500px;
    height: 100px;
}
.commentInput{
 width: 80%;
 height: 96px;
}
.submitComment{
    width: 15%;
    height: 99px;
}
.commentWrap{
    margin-top:20px;
    width: 500px;
}
.comment{
    display:flex;
    width: 500px;
    justify-content: space-between;
}
.com{
    font-size:15px;
    max-width:400px;
}
.date{
    font-size:10px;
}
.warn{
    color:red;
}
.signForm{
    display:flex;
    width:200px;
    position: relative;
    right: 0px;
    justify-self:end;
    justify-content: space-around;
}
.signWrap{
    display: flex;
    justify-content: flex-end;
}
a:link, a:visited{
    color:white;
    cursor:pointer;
    text-decoration: none;
}
.toSignup, .toSignin, .toLogout{
    color:#000 !important;
    cursor: pointer;
}

.button{
    font-size:15px;
    width: 40px;
    height: 18px;
    padding: 1px 6px;
    border: 0.5px solid rgb(118,118,118);
    border-radius: 3px;
    background-color: rgb(239, 239, 239);
    color: black !important;
}

.flexComment{
    display: flex;
    justify-content:space-between;
    font-size:12px;
}
.flexEditComment{
    display:flex;
}
.editStyle:hover{
    cursor: pointer;
}
.editInputWrap2{
    display:flex;
    width:500px;
    height: 36px;
    margin-top: 20px;
}
.editCommentInput{
    width:70%;
}
.editCommentBtn{
    width:20%;
}
.cancelEditComment{
    width:10%;
}
.dateWrap{
    text-align: end;
}
.date_E{
    font-size: 10px;
}
.likeWrap{
    border: 1px solid;
    display: flex;
    position: relative;
    border-radius: 3px;
    width: 40%;
    margin: auto;
    cursor: pointer;
}
.likeText{
    position:absolute;
    top: 20%;
    left: 30%;
}