<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hwang's HangHae blog</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/signin.js"></script>
</head>
<body>
    <div class="top" onclick="window.location.href='/'">
        <h1>Hwang's HangHae blog</h1>
    </div>
    <div class="menu">
        <a href="/"><div>게시글 보기</div></a>
        <a href="/card"><div>게시글 등록</div></a>
    </div>
    <div class="sub_wrap">
        <div class="content">
            <h2>로그인</h2>
        </div>
        <form class="signInForm" method="POST">
            <div>
                ID: <input type="text" name="id" class="idInput" placeholder="아이디를 입력해주세요">
            </div>
            <div>
                PW: <input type="password" name="pw" class="pwInput" placeholder="비밀번호를 입력해주세요">
            </div>
            <button class="signInBtn">로그인</button>
            <a class="button" href="/user/signup">회원가입</a>
            <a class="button" href="/">취소</a>
        </form>
    </div>
</body>
</html>