<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hwang's HangHae blog</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/signup.js"></script>
</head>
<body>
    <div class="top" onclick="window.location.href='/'">
        <h1>Hwang's HangHae blog</h1>
    </div>
    <div class="menu">
        <a href="/"><div>게시글 보기</div></a>
        <a href="/card"><div>게시글 등록</div></a>
    </div>
    <div class="sub_wrap">
        <div class="content">
            <h2>회원가입</h2>
        </div>
        <div style="margin: 20px 0px;">
            아이디는 <strong style="color:red;">영어 대소문자,한글(자음,모음이 아님),숫자만</strong> 가능하며
            <div>
                비밀번호는 <strong style="color:red;">영어 대소문자,숫자만</strong> 가능합니다.
            </div>
        </div>
        <div class="inputWrap">
            <div class="flexView">
                <span class="forWidth">ID: </span><input type="text" name="title" class="idInput" placeholder="아이디를 입력해주세요">
            </div>
            <div class="flexView">
                <span class="forWidth">PW: </span><input type="password" name="desc" class="pwInput" placeholder="비밀번호를 입력해주세요">
            </div>
            <div class="flexView">
                <span class="forWidth">PW_Check: </span><input type="password" name="password" class="pwCheckInput" placeholder="비밀번호 재확인">
            </div>
        </div>
        <button class="signUpBtn">회원가입</button>
        <a href="/"><button>취소</button></a>
    </div>
</body>
</html>